[submodule "vim"]
	path = vim
	url = https://github.com/starwing/vimrc
[submodule "prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-themepack"]
	path = tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule "zsh/zplug/zplug"]
	path = zsh/zplug/zplug
	url = https://github.com/zplug/zplug
[submodule "zsh/sorin-ionescu/prezto"]
	path = zsh/sorin-ionescu/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "zsh/denysdovhan/spaceship-prompt"]
	path = zsh/denysdovhan/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
