[submodule "vim"]
	path = vim
	url = https://github.com/starwing/vimrc
	ignore = dirty
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-themepack"]
	path = tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule "zsh/b4b4r07/zsh-vimode-visual"]
	path = zsh/b4b4r07/zsh-vimode-visual
	url = https://github.com/b4b4r07/zsh-vimode-visual
[submodule "zsh/changyuheng/fz"]
	path = zsh/changyuheng/fz
	url = https://github.com/changyuheng/fz
[submodule "zsh/junegunn/fzf"]
	path = zsh/junegunn/fzf
	url = https://github.com/junegunn/fzf
[submodule "zsh/skywind3000/z.lua"]
	path = zsh/skywind3000/z.lua
	url = https://github.com/skywind3000/z.lua
[submodule "zsh/sorin-ionescu/prezto"]
	path = zsh/sorin-ionescu/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "zsh/zplug/zplug"]
	path = zsh/zplug/zplug
	url = https://github.com/zplug/zplug
[submodule "zsh/zsh-users/zsh-autosuggestions"]
	path = zsh/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-users/zsh-history-substring-search"]
	path = zsh/zsh-users/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/zsh-users/zsh-syntax-highlighting"]
	path = zsh/zsh-users/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/nnao45/zsh-kubectl-completion"]
	path = zsh/nnao45/zsh-kubectl-completion
	url = https://github.com/nnao45/zsh-kubectl-completion
